$font: "Open Sans", "Arial", sans-serif;
$mobile-width: 320px;
$mobile-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1023px;
$desktop-width: 1024px;
$desktop-container-width: 1170px;
$white: #FFF;
$white-70: rgba(255, 255, 255, 0.7);
$black: #000;
$placeholder-black: #1C1C1C;
$title-black: #1F1F1F;
$background-black: #131314;
$black-50: rgba(0, 0, 0, 0.5);
$black-70: rgba(0, 0, 0, 0.7);
$background-gray: #F6F7F9;
$form-gray: #C9CCD4;
$dark-gray: #48494D;
$menu-gray: #F6F6F6;
$turquoise: #0AD9C6;
$turquoise-dark: #14B5A6;
$turquoise-active: #038E81;
