.container {
  max-width: $desktop-container-width;
  margin: auto;

  @media (max-width: $tablet-max-width) {
    width: auto;
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (max-width: $mobile-max-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
