.main-nav--no-js .main-nav__list {
  @media (max-width: $tablet-max-width) {
    position: static;
    height: 100%;
  }
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}

.main-nav__list {
  @include clear-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 874px;
  padding-right: 22px;
  padding-left: 18px;
  padding-top: 21px;
  padding-bottom: 9px;
  border-bottom: 1px solid $white-70;

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
    justify-content: start;
    position: absolute;
    top: 0;
    left: 0;
    max-width: none;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
    z-index: 1000;
    overflow-x: scroll;
  }
}

.main-nav__item:not(:last-of-type) {
  margin-right: 135px;

  @media (max-width: $tablet-max-width) {
    margin-right: 0;
  }
}

.main-nav__link {
  font-family: $font;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.01em;
  opacity: 0.7;
  color: $white;

  &:hover,
  &:focus {
    opacity: 1;
  }

  @media (max-width: $tablet-max-width) {
    display: block;
    background-color: $menu-gray;
    font-size: 20px;
    line-height: 140%;
    color: $dark-gray;
    margin-bottom: 31px;
    width: 100vw;
    padding-top: 17px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 16px;
    letter-spacing: 0.02em;
    position: relative;

    &::after {
      @include pseudo();
      background-image: url("../img/icon-arrow.svg");
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
      top: calc(50% - 6px);
      right: 6%;
    }
  }
}

.main-nav__toggle {
  display: none;

  @media (max-width: $tablet-max-width) {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: none;
    z-index: 1001;
  }
}

.main-nav--open .main-nav__toggle {
  @media (max-width: $tablet-max-width) {
    display: block;
    background-image: url("../img/open.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: $turquoise;
  }
}


.main-nav--close .main-nav__toggle {
  @media (max-width: $tablet-max-width) {
    display: block;
    background-image: url("../img/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: $white;
  }
}

.main-nav--open .main-nav__list {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.main-nav--close .main-nav__list {
  @media (max-width: $tablet-max-width) {
    display: block;
  }
}
