.page-header__wrapper {
  overflow: hidden;
}

.page-header__main-nav {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  width: 874px;

  @media (max-width: $tablet-max-width) {
    padding-right: 0;
    padding-left: 0;
  }
}
